{% extends 'base.html.twig' %}
{% block title %}Reach Out{% endblock %}
{% block main %}
<article class='row'>
    <header>Words, words, words</header>
    <section class='col-sm-8'>
        <p>Here are some ways to get a hold of (though not at any hour of the day mind you):</p>

        <ul class='fa-ul'>
            <li><i class='fa-li fa fa-envelope'></i>contact@kevinpobrien.info</li>
            <li><i class='fa-li fa fa-phone'></i>(971) 249-2498</li>
        </ul>
    </section>
</article>
{% endblock %}