{% extends 'base.html.twig' %}
{% set title = 'Resume' %}
{% block main %}
    <article class='row'>
        <section class='col-sm-12'>
            <div class='embed-responsive embed-responsive-16by9'>
                <iframe class='embed-responsive-item' src="https://goo.gl/SasiVo"></iframe>
            </div>
            <p>Looks better on <a href='https://goo.gl/DfbXvc'>Google Docs</a></p>
        </section>
    </article>
{% endblock %}
{% block script %}
{% endblock %}
